<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>
<h2>Locations</h2>
<ul class="resource-list">
	<% @company.locations.each do |location| %>
		<li><%= link_to "#{location.city} - #{location.address}", company_location_path(@company, location) %></li>
	<% end %>
</ul>
<div class="company-actions">
	<%= link_to "ADD A NEW LOCATION", new_company_location_path(@company), :class => "button" %>
</div>

<%= link_to 'Back', root_path %>
