<p id="notice"><%= notice %></p>

<h1><%= "#{@company.name}, #{@location.name}" %></h1>
<div class="location-information">
	  <%= @location.street_1 %>,
	  <%= @location.street2 %><br>
	  <%= @location.city %>,
	  <%= @location.prov_state %><br>
	  <%= @location.postal_zip %><br>
	  <%= @location.phone %>
	  <%= @location.url %>
</div>

<h2>Entries</h2>
<%= render @location.entries %>

<div class="company-actions">
	<%= link_to "ADD A NEW ENTRY", new_company_location_entry_path(@company, @location), :class => "button"  %>
</div>

<%= link_to 'Back', company_path(@company) %>
