<div class="header-logo">
	<%= link_to image_tag("logo_212x100.png"), root_path %>
</div>

<ul class="nav">
	<li><%= link_to "HOME", "/home" %></li>
	<li><%= link_to "ABOUT", "/about" %></li>
	<% if user_signed_in? %>
		<li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
	<% else %>
		<li><%= link_to "SIGN IN", "/signin" %></li>
	<% end %>
	<div class="clear">
		
	</div>
</ul>